*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Arial', sans-serif;
}

body{
    background:#ffffff;
    color:#222;
    line-height:1.6;
}


/* HEADER */

header{

    background:#09263d;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;

    position:sticky;
    top:0;
    z-index:100;

}


.logo{

    font-size:28px;
    font-weight:800;
    letter-spacing:1px;

}


nav a{

    color:white;
    text-decoration:none;

    margin-left:25px;

    font-weight:bold;

}


nav a:hover{

    color:#ff8500;

}


/* HERO */

.hero{

    min-height:85vh;

    display:flex;
    align-items:center;

    padding:8%;

    background:

    linear-gradient(
    rgba(0,0,0,.55),
    rgba(0,0,0,.55)
    ),

    url("../img/maestro.jpg");

    background-size:cover;

    background-position:center;

}



.hero-content{

    max-width:650px;

    color:white;

}


.hero h1{

    font-size:55px;

    margin-bottom:20px;

}


.hero h2{

    color:#ff8500;

    margin-bottom:20px;

}


.hero p{

    font-size:20px;

}



/* BOTONES */

.boton{

    display:inline-block;

    margin-top:30px;

    background:#ff8500;

    color:white;

    padding:16px 35px;

    border-radius:30px;

    text-decoration:none;

    font-weight:bold;

    transition:.3s;

}


.boton:hover{

    background:#d96f00;

}



/* SECCIONES */

.experiencia{

    padding:80px 8%;

    text-align:center;

}


.experiencia h1,
.experiencia h2{

    color:#09263d;

    margin-bottom:25px;

}



.experiencia p{

    max-width:800px;

    margin:auto;

}



/* TARJETAS */


.tarjetas{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:30px;

    margin-top:50px;

}


.tarjetas div{

    width:260px;

    background:#f5f7f9;

    padding:35px 25px;

    border-radius:20px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}


.tarjetas h3{

    font-size:30px;

    color:#ff8500;

    margin-bottom:15px;

}



/* FOOTER */


footer{

    background:#09263d;

    color:white;

    text-align:center;

    padding:35px;

}



/* WHATSAPP FLOTANTE */


.whatsapp{

    position:fixed;

    right:25px;

    bottom:25px;

    background:#25D366;

    color:white;

    width:60px;

    height:60px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:30px;

    text-decoration:none;

}


/* CELULAR */


@media(max-width:768px){


header{

    flex-direction:column;

}


nav{

    margin-top:20px;

}


nav a{

    margin:10px;

}


.hero h1{

    font-size:38px;

}


.tarjetas{

    flex-direction:column;

    align-items:center;

}


}
